@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.header-quote {
    position: relative; /* Ensure proper positioning of children */
    margin: 20px;
    height: 60vh; /* Adjust height as needed */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.header-quote::before {
    content: '';
    position: absolute; /* Position the transparent background */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire div */
    height: 100%;
    // background-color: rgba($Link-Water, 0.1); /* Transparent black background */
    z-index: 1;
}

.header-quote h1 {
    color:$Wewak;
    font-family: "Lora", sans-serif;
    width: 75%;
    position: absolute; /* Position text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering trick */
    text-shadow: 2px 2px 1px rgba($Link-Water, 0.5);
    margin: 0;
    z-index: 2; /* Ensure text is on top of the background */
    font-size: 40px;
}

.header-quote img {
    position: absolute; /* Position image */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire div */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering */
    z-index: 0; /* Ensure image is behind the background */
    border-radius: 20px;
    border: 2px solid $Wewak;
    box-shadow: 0 0 20px $Pelorous;
}

.header-quote p {
    color:$Wewak;
    font-family: "Lora", sans-serif;

    position: absolute; /* Position text over the image */
    top: 60%; /* Center vertically */
    left: 60%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering trick */
    text-shadow: 2px 2px 1px rgba($Pelorous, 0.5);
    margin: 0;
    z-index: 2; /* Ensure text is on top of the background */
    font-size: 20px;
}

@media (max-width: 800px) {
    .header-quote p {
        width: 200px;
        font-size: 20px;
        top: 70%; /* Center vertically */
        left: 70%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Centering trick */
    }

    .header-quote h1 {
        font-size: 30px;
    }
}