@import '../variables';

.artist-projects {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  h1 {
    text-align: center;
    text-shadow: 2px 2px 1px rgba($Pelorous, 0.5);

    color:$Wewak;


  }
  .project {
    width: 400px;
    margin-bottom: 20px;
    // background-image: linear-gradient(45deg, $Pelorous, $Wewak);
    background-color: $Link-Water;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    height: fit-content;
    border-radius: 20px;
    border: 2px solid $Wewak;
    box-shadow: 0 0 20px $Pelorous;
    transition: transform 0.3s ease;

    &:hover { /* Nesting hover effect within img */
      transform: scale(1.02);
      cursor: pointer;
  }
}
  
  .project-thumbnail img {
    width: 100%;
    border-bottom: 2px solid #ccc;
  }
  
  .project-details {
    padding: 20px;
  }
  
  .project-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .project-description {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .project-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: $Link-Water;
    border: 2px solid $Wewak;
    color:darkslategrey;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px $Pelorous;
  }
  