<div class="counter-container">
    <h1>Hi My Lover!</h1>
    <div class="counter">
      <h2>Time Dating</h2>
      <p>{{ timeTogether }}</p>
    </div>
    <div class="counter">
      <h2>Time Until Anniversary</h2>
      <p>{{ timeUntilAnniversary }}</p>
    </div>
    <div class="counter">
        <h2>Distance Earth has traveled around the sun since we've been together</h2>
        <p>{{ distanceTraveled }}</p>
      </div>
    <h1>Lava you so much! Happy three years la mia anima gemella</h1>

  </div>
  