<div class="returns">
  <div class="return">
    <a routerLink="/admin">Return</a>
  </div>
  <div (click)="deleteProject()" class="return">
    <a href="javascript:void(0)">Delete Project</a>
  </div>
</div>

<form id="form" (ngSubmit)="onSubmit()" #projectForm="ngForm" class="form">
  <h1 class="heading">Editing Project</h1>
  <div class="">
    <div class="project-thumbnail">
      <div class="form-group">
        <label class="custom-file-input">
          <input type="file" id="picture" (change)="onFileChange($event)">
          <h2>Change Picture</h2>
        </label>
      </div>
    </div>
    <div class="">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="project.title" required>
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="project.desc" required>
      </div>
      <div class="form-group">
        <label for="medium">Medium</label>
        <input type="text" class="form-control" id="medium" name="medium" [(ngModel)]="project.medium" required>
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <input type="text" class="form-control" id="size" name="size" [(ngModel)]="project.size" required>
      </div>
    </div>
  </div>
</form>

<div class="divider" role="separator" aria-label="Divider"></div>

<h2 class="preview">Preview</h2>

<div class="project">
  <div class="project-thumbnail">
    <img *ngIf="pictureurl; else elseBlock" [src]="pictureurl" alt="Project Image">
    <ng-template #elseBlock>
      <img [src]="project.imageurl" alt="Project Image">
    </ng-template>
  </div>
  <div class="project-details">
    <h2 class="project-title">{{ project.title }}</h2>
    <p class="project-description">{{ project.desc }}</p>
    <div class="project-tags">
      <span class="tag">{{ project.medium }}</span>
      <span class="tag">{{ project.size }}</span>
    </div>
  </div>
</div>

<button form="form" type="submit">Save Changes</button>
