/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$Wewak: #f4a9ba;
$Link-Water: #d8e6f8;
$Spindle: #b5d6e8;
$Half-Baked: #80bad1;
$Pelorous: #4c9dbd;
