.left-side {
    width: 50%;
    img {
        max-width: 40%;
        border-radius: 20px;
    }
}

.content {
    display: flex;
    flex-direction: row;
}

.divider {
    width:5px;
    height: 200px;
    background: linear-gradient(45deg, red, blue);

}