

<main class="main">
  <div class="content">

    <div class="left-side">
      <h1>Hiya! I'm Rosalia, {{ typingProfession }}</h1>
      <img src="assets/rosa.jpg">
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    
    <div class="right-side">
      <p>Art has been one of my biggest passions for as long as I can remember. Whether I'm out and about painting en plein air or inside working with stained glass, art is my way of expressing myself to the world.</p>
      <br>
      
      <p>I believe that art has the power to bring people together, to bridge gaps and create understanding. Whether it's through a shared appreciation of a beautiful landscape or a deep conversation sparked by a piece of stained glass, art fosters a sense of community and connection. It's a universal language that speaks to our common humanity, reminding us of the beauty and complexity of life.</p>

        <br>
        <p>As I continue to explore and develop my artistic voice, I remain dedicated to pushing the boundaries of my creativity. I am constantly seeking new inspirations and techniques, driven by a desire to grow and evolve as an artist. My hope is that my work resonates with others, sparking joy, contemplation, and a deeper appreciation for the world around us. </p>
    </div>


    </div>
</main>

<router-outlet />
