@import '../variables';


.left-side {
    width: 50%;
    img {
        max-width: 40%;
        border-radius: 20px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.divider {
    width:3px;
    height:20vw;
    background: linear-gradient(45deg, $Pelorous, $Wewak);
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 10px $Wewak; /* Box shadow */
}