

<main class="main">
  <div class="content">

    <div class="left-side">
      <h1>Hiya! I'm Rosalia, An Artist</h1>
      <img src="assets/rosa.jpg">
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    
    <div class="right-side">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ex vel nunc efficitur fermentum. Donec eu felis ut tortor pulvinar ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer id ligula eu felis lacinia fringilla. In hac habitasse platea dictumst. Proin ullamcorper justo id libero fermentum, nec ultrices urna scelerisque. Ut sit amet odio eget magna rhoncus pretium. Nam euismod lectus a elit eleifend, sed dignissim lectus scelerisque. Suspendisse potenti. Maecenas ultrices, justo a sagittis interdum, magna tortor ultricies purus, et congue est nulla a libero. Duis quis nulla eu mi sodales dictum. Ut non nisl vitae mauris commodo rutrum. Quisque nec mi et velit fringilla vestibulum vitae vitae velit. Integer nec arcu id velit 
        </p>
    </div>


    </div>
</main>

<router-outlet />
