@import '../../variables';


  h1 {
    text-align: center;
    text-shadow: 2px 2px 1px rgba($Pelorous, 0.5);
    color: $Wewak;
  }
  .project {
    width: 90%;
    height: 70vh;

    margin-bottom: 20px;
    background-color: #eed9e4;

    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    border: 2px solid $Wewak;
    box-shadow: 0 0 20px $Pelorous;
  }
  .project-thumbnail {
    width: 100%;
    border-bottom: 2px solid #ccc;
    height: 50%
  }
  .project-details {
    padding: 20px;
  }
  .project-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .project-description {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .project-tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: $Link-Water;
    border: 2px solid $Wewak;
    color: darkslategrey;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px $Pelorous;
  }
  