    
   
  <form (ngSubmit)="onSubmit()" #projectForm="ngForm" class="form">
  <h1 class="heading">New Project</h1>
   <div class="project">
    <div class="project-thumbnail">
      <div class="form-group">
        <label class="custom-file-input">
          <input type="file" id="picture" (change)="onFileChange($event)">
        </label>
      </div>
    </div>
    <div class="project-details">
        <div class="form-group">
          <input placeholder="add title" type="text" id="title" [(ngModel)]="title" name="title" required class="form-control">
        </div>
      <div class="project-description">
        <div class="form-group">
          <input placeholder="add description" id="description"[(ngModel)]="description" name="description" required class="form-control" />
        </div>
      </div>
      <div class="project-tags">
        <span class="tag">
          <div class="form-group">
            <input placeholder="add medium" type="text" id="medium" [(ngModel)]="medium" name="medium" required class="form-control">
          </div>
        </span>
        <span class="tag">
          <div class="form-group">
            <input placeholder="add size" type="text" id="size" [(ngModel)]="size" name="size" required class="form-control">
          </div>
        </span>
      </div>
      </div>
    </div>
  </form>
      <!-- Form starts here -->
      <!-- <form (ngSubmit)="onSubmit()" #projectForm="ngForm" class="form">
  
        <div class="form-group">
          <label for="picture" class="form-label">Picture</label>
          <input type="file" id="picture" (change)="onFileChange($event)" class="form-control">
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      Form ends here -->
  